.section:not(:last-child) {
    margin-bottom: 50px;
}

.section__item:not(:last-child) {
    margin-bottom: 30px;
}

.section__item_margin_right {
    margin-right: 35px;
}

.section__text-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 480px;   
}

.section__image {
    display: inline-block;
    vertical-align: top;
    width: 560px;
}

.section__image_center {
    display: block;
    margin: 0 auto;
}

.section__image-wrapper {
    border: 1px solid #000000;
}

.section__image-desc {
    padding: 15px 30px;
    color: #5E5E5E;
}