.section:not(:last-child) {
    margin-bottom: 50px;
}

.section__item:not(:last-child) {
    margin-bottom: 30px;
}

.section__center-image {
    display: block;
    margin: 0 auto;
}

.section__image-wrapper {
    border: 1px solid #000000;
}

.section__image-desc {
    padding: 15px 30px;
    color: #5E5E5E;
}